@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --white-color: #fff;
  --black-color: #000;
  --blue-color: #242e8f;
  --light-gray-color: #dee0ee;
  --orange-color: #f8a51b;
  --text-main-color: #1f2f4f;
  --text-secondary-color: #939cab;
  --line-color: #d4d4d4;
  --bar-height: 1px;
  --btn-hovered: #3a3a82;
  --dark-blue: #181e5a;
  --orange-hovered: #a97946;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white-color) !important;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.section {
  padding: 50px 0px;
  margin-bottom: 50px;
}

.wrapper {
  /* padding: 0px 100px; */
}

.nav-container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0px 100px;
  align-items: center;
}

.top-logo {
  width: 165px;
  cursor: pointer;
}

.login-logo {
  width: 200px;
  cursor: pointer;
}

.menu-container {
  list-style: none;
}

.menu-item {
  float: left;
  padding: 10px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: var(--blue-color);
  font-weight: 500;
  cursor: pointer;
  font-size: 0.8rem;
}

.menu-item:hover {
  border-bottom: 2px solid var(--orange-color);
}

.active-menu-link {
  border-bottom: 2px solid var(--orange-color);
}

.carret-down {
  margin-left: 5px;
}

.search-icon {
  color: var(--blue-color);
}

.custom-btn {
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.custom-btn:hover {
  background-color: var(--btn-hovered);
}

.custom-large-btn {
  padding: 10px 40px;
}

.top-right-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-img-1 {
  width: 100%;
}

.top-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-text-main {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-main-color);
  font-weight: bold;
  font-size: 1.4rem;
}

.top-text-bottom {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-secondary-color);
  font-size: 0.9rem;
}

.top-img-container {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 50px;
}

.custom-white-btn {
  background-color: var(--white-color) !important;
  border: 2px solid var(--blue-color) !important;
  color: var(--blue-color) !important;
}

.custom-white-btn:hover {
  background-color: var(--blue-color) !important;
  color: var(--white-color) !important;
}

.section-title {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--orange-color);
  font-size: 1rem;
}

.top-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin-top: -100px;
  margin-right: -100px;
  right: 0;
}

.section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.services-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  grid-gap: 30px;
}

.service-icon {
  width: 80px;
  filter: brightness(1) invert(0);
}

.service-card {
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: -1px 9px 41px -20px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: -1px 9px 41px -20px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: -1px 9px 41px -20px rgba(0, 0, 0, 0.43);
  cursor: pointer;
}

.service-title {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--orange-color);
  font-size: 0.8rem;
}

.service-description {
  font-family: 'Montserrat', sans-serif;
  color: var(--blue-color);
  font-size: 0.7rem;
}

.service-card:hover {
  background-color: var(--blue-color);
}

.service-card:hover .service-description {
  color: var(--white-color);
}

.service-card:hover .service-icon {
  filter: brightness(0) invert(1);
}

.wide-logo {
  width: 200px;
}
.normal-logo {
  width: 60px;
}

.partners-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.partners-section {
  background-color: var(--light-gray-color);
}

.news-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  grid-gap: 50px;
}

.news-card {
  /* padding: 20px; */
  border-radius: 20px;
  display: grid;
  grid-template-rows: 1fr 150px;
  box-shadow: -1px 9px 41px -20px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: -1px 9px 41px -20px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: -1px 9px 41px -20px rgba(0, 0, 0, 0.43);
  cursor: pointer;
  border: 1px solid var(--line-color);
}

.news-card:hover {
  border: none;
  box-shadow: -1px 9px 41px -10px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: -1px 9px 41px -10px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: -1px 9px 41px -10px rgba(0, 0, 0, 0.43);
}

.news-img-container {
}

.news-img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 100%;
}

.news-img-container {
  width: 100%;
}

.news-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 5px;
}

.news-title {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-main-color);
  font-size: 1rem;
  font-weight: 700;
}

.news-main-content {
  padding: 0px 10px 10px 10px;
}

.news-publication-time {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-secondary-color);
  font-size: 0.7rem;
}
.news-clock {
  color: var(--text-secondary-color);
  font-size: 0.7rem;
}

.news-stats {
  border-top: 1px solid var(--line-color);
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
}

.stats-label {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-main-color);
  font-size: 0.8rem;
}

.stats-icon {
  color: var(--text-main-color);
  font-size: 0.8rem;
}

.actions-section {
  background-color: var(--orange-color);
  margin-bottom: 0px !important;
}

.actions-title {
  color: var(--white-color);
}

.actions-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}

.single-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.action-img {
  width: 70px;
}

.action-label {
  font-family: 'Montserrat', sans-serif;
  color: var(--white-color);
  font-size: 0.8rem;
  font-weight: bold;
}

.bottom-footer {
  background-color: var(--dark-blue);
  color: var(--orange-color);
  padding: 10px 0px;
}

.footer-note {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.footer {
  background-color: var(--blue-color);
}

.footer-content-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  grid-gap: 50px;
  padding: 15px 0px;
}

.footer-single-content {
}

.footer-sc-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: var(--orange-color);
  text-transform: uppercase;
  font-weight: bold;
}

.footer-single-items {
  list-style: none;
  padding: 0;
}

.footer-item {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: var(--white-color);
  cursor: pointer;
}

.footer-item:hover {
  color: var(--orange-color);
}

.login-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100vh;
}

.login-text {
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-window {
  background-color: var(--blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-welcome-message {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: var(--blue-color);
  font-weight: bold;
}

.soc-icon {
  color: var(--white-color);
  background-color: var(--orange-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.soc-icon:hover {
  background-color: var(--blue-color);
}

.social-media-icons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.login-txt {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: var(--orange-color);
  font-weight: bold;
}

.login-form-tabs {
  display: flex;
  flex-direction: row;
  margin: 25px 0px;
}

.login-tab {
  width: 120px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.login-tab:hover {
  border-bottom: 2px solid var(--orange-color);
}

.login-tab-label {
  color: var(--white-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
}

.active-login-tab {
  border-bottom: 2px solid var(--orange-color);
}

.txbox-holder {
  display: flex;
  flex-direction: row;
  background-color: var(--white-color);
  padding: 8px 5px;
  align-items: center;
  border-radius: 5px;
  border-bottom: 2px solid var(--orange-color);
  width: 250px;
  margin-bottom: 15px;
}

.txtbox-icon-holder {
  margin-right: 5px;
}

.txtbox-icon {
  color: var(--line-color);
}

.txt-box {
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  outline: none;
  width: 220px;
}

.forgot-txt-holder {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 15px;
}

.forgot-txt {
  color: var(--orange-color);
  font-size: 0.7rem;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.custom-orange-btn {
  background-color: var(--orange-color) !important;
  width: 250px;
}

.custom-orange-btn:hover {
  background-color: var(--orange-hovered) !important;
}

.social-auth-container {
  width: 250px;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  flex-direction: column;
  align-items: center;
}

.social-auth-text {
  color: var(--white-color);
  font-size: 0.7rem;
  font-family: 'Montserrat', sans-serif;
}

.soc-auth-icon {
  background-color: var(--white-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}
